{% extends "KinoskladMainBundle::form_layout.html.twig" %}

{% block title %}Genres{{ parent() }}{% endblock %}

{% block header %}
    <h1>Genres</h1>
{% endblock header %}

{% block content %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Name (en)</th>
                <th>Name (ru)</th>
                <th>Films count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.translate().name }}</td>
                <td>{{ entity.translate('ru').name }}</td>
                <td>{{ entity.films | length }}</td>
                <td>
                    <a href="{{ path('genres_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genres_new') }}">
        Create a new entry
    </a>
{% endblock content %}
