{% extends "KinoskladMainBundle::form_layout.html.twig" %}
{% form_theme edit_form "KinoskladMainBundle::form_theme.html.twig" %}

{% block title %}Edit "{{entity.translate().name}}" film{{ parent() }}{% endblock %}

{% block header %}
    <h1>{{ entity.translate().name }} <small>editing</small></h1>
{% endblock header %}

{% block content %}
    <form action="{{ path('films_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <fieldset>
            <div class="clearfix">
                {{ form_label(edit_form.imageFile) }}
                <div class="input">
                    {% if entity.image %}<img src="/{{ entity.image }}" /><br/>{% endif %}
                    {{ form_widget(edit_form.imageFile) }}
                    {% if edit_form.has('removeImage') %}
                        <ul class="inputs-list">
                            {{ form_widget(edit_form.removeImage) }}
                        </ul>
                    {% endif %}
                    {{ form_errors(edit_form.imageFile) }}
                </div>
            </div>

            {{ form_row(edit_form.nameEn) }}
            {{ form_row(edit_form.nameRu) }}
            {{ form_row(edit_form.descriptionEn) }}
            {{ form_row(edit_form.descriptionRu) }}

            <div class="clearfix">
                {{ form_label(edit_form.getChild('film.genres')) }}
                <div class="input">
                    <ul class="inputs-list">
                        {% for checkbox in edit_form.getChild('film.genres') %}
                            {{ form_widget(checkbox) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {{ form_rest(edit_form) }}

            <div class="actions">
                <button class="btn primary" type="submit">Save</button>
            </div>
        </fieldset>
    </form>

    <form action="{{ path('films_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn danger" type="submit">Delete</button>
    </form>
{% endblock content %}
