{% extends "KinoskladMainBundle::layout.html.twig" %}

{% block title %}{{ 'Films list' | trans }}{{ parent() }}{% endblock %}

{% block width %}700{% endblock %}

{% block container %}
    <div class="row" style="margin-top:30px">
        <div class="span12">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h3 style="text-align:right">
                    <a href="{{ path('films_new') }}">(+) {{ 'add new' | trans }}</a>
                    |
                    <a href="{{ path('genres') }}">{{ 'genres' | trans }}</a>
                </h3>
            {% endif %}

            <ul class="media-grid">
                {% for entity in entities %}
                    <a href="{{ path('films_show', {'id': entity.id}) }}">
                        <h3 style="position:absolute;max-width:200px;padding:0px 5px;background:#fff;opacity:0.8;">
                            {{ entity.translate(app.session.locale == 'en' ? null : app.session.locale).name }}
                        </h3>
                        <img class="thumbnail" src="{{ ('/'~entity.image) | apply_filter('poster_normal') }}" />
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock container %}
