{% extends "KinoskladMainBundle::form_layout.html.twig" %}
{% form_theme form "KinoskladMainBundle::form_theme.html.twig" %}

{% block title %}Create new{{ parent() }}{% endblock %}

{% block header %}
    <h1>New film <small>creation</small></h1>
{% endblock header %}

{% block content %}
    <form action="{{ path('films_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_row(form.imageFile) }}
            {{ form_row(form.nameEn) }}
            {{ form_row(form.nameRu) }}
            {{ form_row(form.descriptionEn) }}
            {{ form_row(form.descriptionRu) }}

            <div class="clearfix">
                {{ form_label(form.getChild('film.genres')) }}
                <div class="input">
                    <ul class="inputs-list">
                        {% for checkbox in form.getChild('film.genres') %}
                            {{ form_widget(checkbox) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="actions">
                <button class="btn primary" type="submit">Create</button>
            </div>
        </fieldset>
    </form>
{% endblock content %}
