{% extends "KinoskladMainBundle::form_layout.html.twig" %}

{% block title %}{{ entity.translate().name }}{{ parent() }}{% endblock %}

{% block header %}
    <h1>{{ entity.translate().name}}
        <small>
            {% for genre in entity.genres %}
                {{ genre.translate().name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </small>
    </h1>
{% endblock header %}

{% block content %}
    <img style="float:left; margin-right:10px; margin-bottom:10px;" class="thumbnail" src="{{ ('/'~entity.image) | apply_filter('poster_normal') }}" />

    <p>{{ entity.translate().description }}</p>

    <span class="label">Length:</span> {{ entity.length }} {{ 'min.' }}<br/>
    <span class="label">Premiere:</span> {{ entity.premiere | date('m.d.Y') }}<br/>
    <span class="label">Country:</span> {{ entity.country }}<br/>
{% endblock content %}
