{% extends "KinoskladMainBundle::form_layout.html.twig" %}

{% block title %}{{ entity.translate(app.session.locale == 'en' ? null : app.session.locale).name }}{{ parent() }}{% endblock %}

{% block header %}
    <h1>{{ entity.translate(app.session.locale == 'en' ? null : app.session.locale).name}}
        <small>
            {% for genre in entity.genres %}
                {{ genre.translate(app.session.locale == 'en' ? null : app.session.locale).name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% if is_granted('EDIT', entity) %}
                <a href="{{ path('films_edit', {'id': entity.id}) }}">({{ 'edit' | trans }})</a>
            {% endif %}
        </small>
    </h1>
{% endblock header %}

{% block content %}
    <img style="float:left; margin-right:10px; margin-bottom:10px;" class="thumbnail" src="{{ ('/'~entity.image) | apply_filter('poster_normal') }}" />

    <p>{{ entity.translate(app.session.locale == 'en' ? null : app.session.locale).description }}</p>

    <span class="label">{{ 'Length' | trans }}:</span> {{ entity.length }} {{ 'min.' | trans }}<br/>
    <span class="label">{{ 'Premiere' | trans }}:</span> {{ entity.premiere | date('m.d.Y') }}<br/>
    <span class="label">{{ 'Country' | trans }}:</span> {{ entity.country }}<br/>
{% endblock content %}
