{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    {% stylesheets 'bundles/kinoskladmain/css/main.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
        .container { width: {% block width %}820{% endblock %}px; }
    </style>
{% endblock stylesheets %}

{% block body %}
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="{{ path('films') }}">Kinosklad</a>
                <ul class="nav">
                    {% include 'KinoskladMainBundle:Menu:locale.html.twig' %}
                    {% include 'KinoskladMainBundle:Menu:auth.html.twig' %}
                </ul>
                <form action="" class="pull-right">
                    <input name="q" value="{{ film_search_string() }}" class="input-big" type="text" placeholder="{{ 'Search...' | trans }}">
                    <button class="btn" type="submit">{{ 'go' | trans }}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        {% block container %}{% endblock %}
        <footer>
            <p>© sfCampUA 2011</p>
        </footer>
    </div>
{% endblock body %}
